#main-content {
  text-decoration: none;
  color: var(--white);
  border: 9px solid hsl(var(--white));
  padding-block: 4rem;
  background-color: hsl(var(--black) / 0.4);
  box-shadow:0px 0px 20px hsl(var(--black) /0.7);
}
#main-content > h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--ff-theseasons-bd);
}

.subtitle {
  font-family: var(--ff-theseasons-bd);
  text-transform: uppercase;
}

.hr-div {
  border-bottom: 1px solid hsl(var(--white));
  width: 125px;
}

.hr-contact {
  margin-bottom: 1rem;
}

.call-to-contact {
  border: 5px solid hsl(var(--white));
  padding: 2rem;
  background-color: hsl(var(--black) / 0.3);
}

@media (min-width: 35em) {
  .hr-div {
    width: 200px;
  }
  .call-to-contact {
    padding: 4rem;
  }
}
