/* -------------------------------------------- */
/*                 Variables                    */
/*----------------------------------------------*/

@font-face {
  font-family: 'TheSeasons';
  src: url('../assets/fonts/theseasons-reg.otf') format('opentype');
}

:root {
  /* colors */
  --background-clr: 190 100% 11%;
  --glow-clr: 50 100% 68%;
  --neon-blue: 195 100% 50%;
  --white: 0 0% 96%;
  --black: 0 0% 0%;
  --brand-blue: 213 100% 33%;
  --brand-yellow: 48 100% 67%;

  /* font-families */
  --ff-serif: "Roboto", sans-serif;
  --ff-sans-cond: "Roboto Condensed", sans-serif;
  --ff-sans-display: "Dela Gothic One", cursive;

  /* font-sizes */
  /* clamp(2.25rem, 4.5vw + 1rem, 6.5rem); */
  --fs-900: clamp(3.25rem, 6vw + 1rem, 6rem);
  --fs-800: 2rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;
}
/* -------------------------------------------- */
/*                Reset as in:                  */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  scroll-behavior: smooth;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Reset font-weight*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(var(--background-clr));
  color: hsl(var(--white));
  font-size: var(--fs-400);
  line-height: 1.5;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned'em off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------------------------*/
/*            Colors & Typography               */
/*----------------------------------------------*/

/* colors */
.bg-dark {
  background-color: hsl(var(--background-clr));
}
.bg-accent {
  background-color: hsl(var(--background-clr) / 0.5);
}
.bg-white {
  background-color: hsl(var(--white));
}

.text-dark {
  color: hsl(var(--background-clr));
}
.text-accent {
  color: hsl(var(--glow-clr));
}
.text-white {
  color: hsl(var(--white));
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-display);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/*----------------------------------------------*/
/*            Utility classes                   */
/*----------------------------------------------*/

.box-shadow {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.container {
  padding-top: 1.5em;
  padding-inline: clamp(0.7em, 4vw, 4em);
  margin-inline: auto;
  max-width: 78rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
}

.flex-center-small {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  place-items: center;
}

.flow > *:where(:not(:first-child)) {
  margin-top: clamp(4.25rem, 5.5vw + 1rem, 6.5rem);
}
.flow-normal > *:where(:not(:first-child)) {
  margin-top: 2.5rem;
}
.flow-small > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.text-centered {
  text-align: center;
}

@media (min-width: 58em) {
  .opaque-img {
    transition: all 0.3s ease;
    opacity: 0.85;
  }
  .opaque-img:hover {
    opacity: 1;
  }
}
